@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #475577 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #475577 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #475577;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6 .navbar-caption {
  color: #ffffff;
}
#ext_menu-6 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6 .close-icon::before,
#ext_menu-6 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6 .link,
#ext_menu-6 .dropdown-item {
  color: #ffffff;
}
#ext_menu-6 .link {
  font-size: 0.75rem;
}
#ext_menu-6 .dropdown-item,
#ext_menu-6 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-6 .link:hover,
#ext_menu-6 .dropdown-item:hover,
#ext_menu-6 .link:focus,
#ext_menu-6 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-menu {
  background: #615753;
}
#ext_menu-6 .nav-dropdown-sm .link:focus,
#ext_menu-6 .nav-dropdown-sm .link:hover,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #746964!important;
}
#ext_menu-6 .navbar,
#ext_menu-6 .nav-dropdown-sm,
#ext_menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #7c706b;
}
#ext_menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6 .bg-color.transparent.opened .link:hover,
#ext_menu-6 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header2-8 .mbr-section-title {
  text-align: left;
  font-size: 80px;
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#header2-8 .mbr-section-text {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
}
#header2-8 .mbr-section-text SPAN {
  font-size: 18px;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  color: #ffffff;
}
#features2-2 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #a38f84;
}
#features2-2 .mbr-cards-col:nth-child(even) .card-subtitle {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
#features2-2 .mbr-cards-col:nth-child(even) .card-subtitle B {
  font-size: 19px;
  color: #ffffff;
}
#features2-2 .mbr-cards-col:nth-child(even) .card-text {
  text-align: left;
  color: #ffffff;
}
#features2-2 .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
  font-size: 19px;
}
#features2-2 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: left;
}
#features2-2 .mbr-cards-col:nth-child(odd) .card-title {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
#features2-2 .mbr-cards-col:nth-child(even) .card-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 16px;
}
#features2-2 .mbr-cards-col:nth-child(odd) .card-title SPAN {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color: #efefef;
}
#content8-s .mbr-section-title,
#content8-s p {
  text-align: right;
  color: #fff;
}
#contacts5-q p,
#contacts5-q .list-group-text,
#contacts5-q .form-control-label {
  color: #000;
}
#contacts5-q strong,
#contacts5-q h4 {
  color: #7e9b9f;
}
#contacts5-q form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-q .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-q .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-q H4 {
  color: #ffffff;
}
#contacts5-q STRONG {
  color: #ffffff;
  text-align: left;
}
#contacts5-q P {
  color: #ffffff;
}
#contacts5-q .list-group-text {
  color: #ffffff;
}
#ext_menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-a .navbar-caption {
  color: #ffffff;
}
#ext_menu-a .navbar-toggler {
  color: #ffffff;
}
#ext_menu-a .close-icon::before,
#ext_menu-a .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-a .link,
#ext_menu-a .dropdown-item {
  color: #ffffff;
}
#ext_menu-a .link {
  font-size: 0.75rem;
}
#ext_menu-a .dropdown-item,
#ext_menu-a .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-a .link:hover,
#ext_menu-a .dropdown-item:hover,
#ext_menu-a .link:focus,
#ext_menu-a .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-a .link[aria-expanded="true"],
#ext_menu-a .dropdown-menu {
  background: #8c7568;
}
#ext_menu-a .nav-dropdown-sm .link:focus,
#ext_menu-a .nav-dropdown-sm .link:hover,
#ext_menu-a .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #9c877b!important;
}
#ext_menu-a .navbar,
#ext_menu-a .nav-dropdown-sm,
#ext_menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-a .nav-dropdown-sm .dropdown-menu {
  background: #a38f84;
}
#ext_menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-a .bg-color.transparent.opened .link:hover,
#ext_menu-a .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-a .link[aria-expanded="true"],
#ext_menu-a .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
}
#ext_menu-e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #ffffff;
}
#ext_menu-e .link {
  font-size: 0.75rem;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #8c7568;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #9c877b!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #a38f84;
}
#ext_menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#form1-f .form-control-label {
  color: #232323;
}
#ext_menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-g .navbar-caption {
  color: #ffffff;
}
#ext_menu-g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-g .close-icon::before,
#ext_menu-g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-g .link,
#ext_menu-g .dropdown-item {
  color: #ffffff;
}
#ext_menu-g .link {
  font-size: 0.75rem;
}
#ext_menu-g .dropdown-item,
#ext_menu-g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-g .link:hover,
#ext_menu-g .dropdown-item:hover,
#ext_menu-g .link:focus,
#ext_menu-g .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-menu {
  background: #8c7568;
}
#ext_menu-g .nav-dropdown-sm .link:focus,
#ext_menu-g .nav-dropdown-sm .link:hover,
#ext_menu-g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #9c877b!important;
}
#ext_menu-g .navbar,
#ext_menu-g .nav-dropdown-sm,
#ext_menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-g .nav-dropdown-sm .dropdown-menu {
  background: #a38f84;
}
#ext_menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-g .bg-color.transparent.opened .link:hover,
#ext_menu-g .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
